<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>GIS Scheduling Request</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js?"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="/assets/js/request.js"></script>
</head>

<body class="body" style="font-family:'garamond">
    <nav class="navbar navbar-light bg-light p-3 sticky-top" id="title-block">
        <span class="navbar-brand mb-0">
            <h1>GIS DEPARTMENT</h1>
        </span>
    </nav>
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" id="side-bar">
            <ul class="nav nav-pills flex-column" id="side-nav">
                <li class="nav-item">
                    <a class="nav-link" id="request-link" href="/">GIS REQUEST FORM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="priority-link" href="/sheet">ACTIVE PRIORITY LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="archived-link" href="/archived">ARCHIVED PRIORITY LIST</a>
                </li>
            </ul>
        </nav>
        <script>
            var pathname = location.pathname;
            $(`a[href="${pathname}"]`).addClass("active");
        </script>
        <main class="col-sm-9 col-md-10 pt-3">
            {{{ body }}}
        </main>
    </div>

</body>

</html>