<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>GIS Scheduling Request</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js?"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
        integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" defer></script>
    <script src="/assets/js/request.js"></script>

</head>

<body class="body" style="font-family:'garamond">
    <nav class="navbar navbar-light p-3 sticky-top" id="title-block">
        <span class="navbar-brand mb-0">
            <h1>GIS DEPARTMENT</h1>
        </span>
    </nav>
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" id="side-bar">
            <a class="nav-link" id="request-link" href="/">GIS REQUEST FORM</a>
            <a class="nav-link" id="priority-link" href="/sheet">ACTIVE PRIORITY LIST</a>
            <a class="nav-link" id="archived-link" href="/archived">ARCHIVED PRIORITY LIST</a>
            <a class="nav-link" id="chart-link" href="/chart">PRODUCTIVITY CHART</a>
        </nav>
        <script>
            var pathname = location.pathname;
            $(`a[href="${pathname}"]`).addClass("active");
        </script>
        <main class="col-sm-9 col-md-10 pt-3" id="body-id">
            {{{ body }}}
        </main>

    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <a href="https://github.com/warnerak/request-form" target="_blank">GitHub</a>
        </div>
    </footer>



</body>

</html>