<div class="form-body jumbotron mx-auto p-0 m-0">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading panel-custom">
                <h2>Archived Schedule</h2>
            </div>
            <table class="table table-hover">
                <tr>
                    <th scope="col">Analyst</th>
                    <th scope="col">Priority</th>
                    <th scope="col">P.M.</th>
                    <th scope="col">Pr. Name</th>
                    <th scope="col">Pr. Number</th>
                    <th scope="col">Map</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Coordinates</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                    {{#each requests}}
                    {{#unless active_archive}}

                    {{> status/delete-block active=false}}

                    {{/unless}}
                    {{/each}}


                </tbody>
            </table>


        </div>
    </div>
</div>