<div class="form-body jumbotron mx-auto p-0 m-0">
    <div class="container-fluid">
        <h2>Productivity Chart</h2>

        {{!-- CHART MODAL --}}
        {{!-- <div id="chart-modal" class="modal">
            <canvas id="chart-display"></canvas>
        </div> --}}
        <canvas id="chart-display"></canvas>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>


    var ctx = document.getElementById('chart-display');
    new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['Active Projects'],
            datasets: [{
                label: 'High',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [4]
            },
            {
                label: 'Medium',
                backgroundColor: 'rgb(255, 255, 0)',
                borderColor: 'rgb(255, 255, 0)',
                data: [4]
            },
            {
                label: 'Low',
                backgroundColor: 'rgb(0, 204, 0)',
                borderColor: 'rgb(0, 204, 0)',
                data: [4]
            }

            ]

        },

        // Configuration options go here
        options: {}
    });



</script>