<div class="form-body jumbotron mx-auto" style="width: 960px">
    <div class="container-fluid">

        <form>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="date-submitted">Date Submitted: </label>
                    <input id="date-submitted" type="date" value="2019-06-03">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="due-date">Due Date: </label>
                    <input id="due-date" type="date" value="2019-06-04">
                </div>
            </div>


            <div class="admin">
                <h3>ADMINISTRATIVE INFORMATION</h3>
                <hr>
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="project-manager">Project Manager: </label>
                        <input type="text" class="form-control mt-1 mb-1" id="project-manager"
                            placeholder="Project Manager">
                        <label for="project-name">Project Name: </label>
                        <input type="text" class="form-control mt-1 mb-3" id="project-name" placeholder="Project Name">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">GIS Analyst</label>
                            </div>
                            <select class="analyst custom-select" id="gis-analyst">
                                <option>Choose...</option>
                                <option value="1">Anna Warner</option>
                                <option value="2">Kensey Barker</option>
                                <option value="3">Roger Tomlinson</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label for="project-number">Project Number: </label>
                        <input type="text" class="form-control mt-1 mb-1" id="project-number"
                            placeholder="Project Number">
                        <label for="project-coor">Project Coordinates: </label>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control mt-1" id="lat" placeholder="Latitude">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control mt-1" id="long" placeholder="Longitude">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect02">Priority</label>
                            </div>
                            <select class="priority custom-select" id="priority">
                                <option>Choose...</option>
                                <option value="1">High</option>
                                <option value="2">Medium</option>
                                <option value="3">Low</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="maps">
                <h3>MAPS REQUESTED</h3>
                <hr>
                <div class="row" id="map-request">
                    <div class="col-md-6 mb-3">
                        <div class="custom-control custom-radio">
                            <div>
                                <label><input type="radio" name="map" value="Base Map"> Base Map</label>
                            </div>
                            <div>
                                <label><input type="radio" name="map" value="Impact"> Impact</label>
                            </div>
                            <div>
                                <label><input type="radio" name="map" value="Loc/Vic/Aerial"> Loc/Vic/Aerial</label>
                            </div>
                            <div>
                                <label><input type="radio" name="map" value="Delineation"> Delineation</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="custom-control custom-radio">
                            <div>
                                <label><input type="radio" name="map" value="EnS"> EnS</label>
                            </div>
                            <div>
                                <label><input type="radio" name="map" value="Soils"> Soils</label>
                            </div>
                            <div>
                                <label><input type="radio" name="map" value="FEMA"> FEMA</label>
                            </div>
                            <div>
                                <label><input type="radio" name="map" value="Enter In Own"> Enter</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="notes_comments">Notes/Comments</label>
                <textarea class="form-control" id="notes_comments" rows="5"></textarea>
            </div>
            <button class="btn btn-primary" id="submit-request" type="submit">Submit form</button>
            {{!-- <button class="btn btn-primary" id="pdf-form" type="submit">Export PDF</button> --}}
        </form>

    </div>
</div>